.fighter-preview___root {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview_card {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border: 5px solid #ca9650;
  background-color: #d07f7f6e;
}

.fighter-card-name {
  margin: 10px 0 0;
  text-align: center;
  font-size: 1.8rem;
  font-family: cursive;
  color: #f8f8ff;
}

.fighter-card-specification-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fighter-card-specification {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.fighter-card-specification-header {
  width: 65%;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-family: 'system-ui';
  background-color: #ffdfa7d4;
}

.fighter-card-specification-info {
  width: 20%;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  font-family: 'system-ui';
  background-color: #ffdfa7d4;
}
